<div class="task-item">
  <div *ngIf="task && !newTask" class="loaded-task">
    <!--Task Title-->
    <h4 class="task-title">{{ task.taskTitle }}</h4>

    <!--Activities List-->
    <app-task-activity [activities]="task.activities"></app-task-activity>

    <!--New Activity on Task button-->
    <app-add-button
      actionTitle="Add a card"
      (addNewData)="addNewAct()"
      (cancelNewData)="cancelNewAct()"
    ></app-add-button>
  </div>

  <div
    *ngIf="!task || newTask"
    [ngClass]="{ 'new-task': !task, 'loaded-task': newTask }"
  >
    <input
      matInput
      [(ngModel)]="task.taskTitle"
      *ngIf="task && newTask"
      class="new-task-title"
    />

    <!--New Activity on Task button-->
    <app-add-button
      actionTitle="Add List"
      (addNewData)="addNewList()"
      (cancelNewData)="cancelNewList()"
    ></app-add-button>
  </div>
</div>
