<div class="task-item">
  <div *ngIf="task && !newTask" class="loaded-task">
    <h4 class="task-title">{{ task.taskTitle }}</h4>
    <div *ngFor="let a of task.activities" class="task-activity">
      <textarea
        matInput
        [(ngModel)]="a.name"
        class="new-activity-name"
      ></textarea>

      <button class="edit-button">
        <img src="/assets/edit.png" class="edit_icon" />
      </button>
    </div>

    <!--New Activity on Task button-->
    <div>
      <h4
        [ngClass]="{
          'show-act-add': !newAct,
          'hide-act-add': newAct
        }"
        class="new-task-activity"
        (click)="addNewAct()"
      >
        + Add a card
      </h4>
      <div class="add-act-buttons">
        <button
          mat-raised-button
          [ngClass]="{
            'show-act-add': newAct,
            'hide-act-add': !newAct
          }"
          class="act-button"
        >
          Add
        </button>

        <button
          mat-flat-button
          color="cancel"
          [ngClass]="{
            'show-act-add': newAct,
            'hide-act-add': !newAct
          }"
          class="act-button"
          (click)="cancelNewAct()"
        >
          X
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="!task || newTask"
    [ngClass]="{ 'new-task': !task, 'loaded-task': newTask }"
  >
    <input
      matInput
      [(ngModel)]="task.taskTitle"
      *ngIf="task && newTask"
      class="new-task-title"
    />

    <h4
      [ngClass]="{
        'show-task-add': !newTask,
        'hide-task-add': newTask
      }"
      class="add-task-title"
      (click)="addNewList()"
    >
      + Add List
    </h4>

    <div class="add-task-buttons">
      <button
        mat-raised-button
        [ngClass]="{
          'show-task-add': newTask,
          'hide-task-add': !newTask
        }"
        class="task-button"
      >
        Add
      </button>

      <button
        mat-flat-button
        color="cancel"
        [ngClass]="{
          'show-task-add': newTask,
          'hide-task-add': !newTask
        }"
        class="task-button"
        (click)="cancelNewList()"
      >
        X
      </button>
    </div>
  </div>
</div>
