.task-item {
  width: 200px;

  display: flex;
  flex-direction: column;
}

.new-task {
  background-color: rgba(154, 206, 188, 0.278);
  border-radius: 10px;
  cursor: pointer;
}

.new-task:hover {
  color: white;
  background-color: rgb(93, 130, 117);
}

.new-task-title {
  margin: 5px;
  padding: 5px 10px;
  width: 85%;
  min-height: 20px;

  background-color: white;
  border-radius: 5px;

  position: relative;
}

.new-task-title {
  margin: 5px;
  padding: 5px 10px;
  width: 85%;

  background-color: white;
  border-radius: 5px;

  position: relative;
}

.add-task-title {
  padding: 15px;
  margin: 0;
}

.loaded-task {
  background-color: rgb(154, 206, 188);
  border-radius: 10px;
}

.task-title {
  padding: 15px;
  margin: 0;
  font-weight: bold;
}

.task-activity {
  position: relative;
}

.task-activity:hover {
  .edit-button {
    display: block;
    background-color: white;
  }
}

.new-activity-name {
  margin: 5px;
  padding: 5px 10px;
  width: 85%;
  height: max-content; /* Ensures no static height is applied */
  resize: none; /* Prevents manual resizing if undesired */
  overflow-y: hidden; /* Allows smooth height expansion */

  background-color: white;
  border: none;
  border-radius: 5px;
}

.new-activity-name:hover {
  border: 2px solid blue;
}

.edit-button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 10;
}

.new-task-activity {
  margin: 5px;
  padding: 5px 10px;
  width: 85%;

  background-color: rgb(154, 206, 188);
  border-radius: 5px;
  cursor: pointer;
}

.new-task-activity:hover {
  color: white;
  background-color: rgb(93, 130, 117);
}

.new-task-activity h4 {
  margin: 0;
}

.edit_icon {
  width: 15px;
}

.hide-act-add {
  display: none;
}

.show-act-add {
  display: block;
}

.add-act-buttons {
  display: flex;
  justify-content: flex-start;
}

.act-button {
  margin: 5px;
}

.mat-cancel {
  background-color: transparent;
  color: black;
}

.mat-cancel:hover {
  background-color: rgb(93, 130, 117);
}

.hide-task-add {
  display: none;
}

.show-task-add {
  display: block;
}

.add-task-buttons {
  display: flex;
  justify-content: flex-start;
}

.task-button {
  margin: 5px;
}
