<div class="task-item">
  <div *ngIf="task" class="loaded-task">
    <h4 class="task-title">{{ task.taskTitle }}</h4>
    <div class="task-activity" *ngFor="let a of task.activities">
      <p>
        {{ a.name }}
      </p>
      <button class="edit-button">
        <img src="/assets/edit.png" class="edit_icon" />
      </button>
    </div>

    <!--New Activity on Task button-->>
    <div (click)="addNewAct()">
      <h4
        [ngClass]="{
          'show-act-add': !newAct,
          'hide-act-add': newAct
        }"
        class="new-task-activity"
      >
        + Add a card
      </h4>
      <button
        mat-flat-button
        [ngClass]="{
          'show-act-add': newAct,
          'hide-act-add': !newAct
        }"
        class="add-act-button"
      >
        Add
      </button>
    </div>
  </div>

  <div *ngIf="!task" class="new-task">
    <h4 (click)="addList()" class="add-task-title">+ Add List</h4>
  </div>
</div>
