.workspace-area {
  width: 100vw;
  height: 80vh;
  display: flex;
}

.sidebar {
  background-color: rgb(234, 232, 230);
  padding: 10px;
}

.workspace-board-title {
  padding: 20px 0 20px 20px;
  background-color: rgba(170, 206, 212, 0.306);

  font-size: 1.5em;
  font-weight: bold;
}

.tasks-list {
  padding: 10px;
}

.workspace-collapsed {
  width: 85vw;
}

.workspace-expanded {
  width: 100vw;
}

.tasks-list {
  display: flex;
  gap: 10px;
}
