<div
  cdkDropList
  [cdkDropListData]="activities"
  (cdkDropListDropped)="drop($event)"
>
  <!-- Check if activities is empty -->
  <ng-container *ngIf="activities.length > 0; else emptyList">
    <div *ngFor="let a of activities" cdkDrag class="task-activity">
      <textarea
        matInput
        [(ngModel)]="a.name"
        class="new-activity-name task-activity"
        [readonly]="a.new ? false : true"
      ></textarea>

      <button class="edit-button" (click)="openEditActForm(a)">
        <img src="/assets/edit.png" class="edit_icon" />
      </button>
    </div>
  </ng-container>

  <!-- Placeholder for empty list -->
  <ng-template #emptyList>
    <div class="empty-placeholder" cdkDrag></div>
  </ng-template>
</div>
